@model WebApplication.Models.ConfirmOrder

@{
    ViewData["Title"] = "ConfirmOrder";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/ConfirmCommand.css" />
</head>
<h1 class="mainButton">Confirm Order</h1>

<body class="blockConfirmOrder">
    @if (Model.allCartDetails.Count > 0)
    {
        <table class="table table_with_all_product">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.allCartDetails[0].ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.allCartDetails[0].Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.allCartDetails[0].UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.allCartDetails[0].ProductImage)
                    </th>
                    <th>
                        Total
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.allCartDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        <img src="~/@item.ProductImage" width="60" height="60" class="restaurantImage" />
                    </td>

                    <td>
                        @(item.UnitPrice * item.Quantity) CHF
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="IdCartDetails" value=@Html.DisplayFor(modelItem => item.IdCartDetails) />
                            <input type="submit" value="DELETE" />
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Freight for delivery :</td>
                <td>
                    @Model.freight CHF
                </td>
                <td>
                </td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total price</td>
                <td>
                    <b>
                        @Model.TotalPrice CHF
                    </b>
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="IdCartDetails" value="-1" />
                        <input type="submit" value="Remove All" />
                    </form>
                </td>
            </tr>
        </table><br />
        @switch (Model.errorCode)
        {
            case 0:
                <h3>You need to choose an address in the same region as the restaurant !</h3>
                break;
            case 1:
                <h2 class="errorCode"> <img src="~/Images/Erreur.jpg" width="40" height="40" />  You need to choose an address in the same region as the restaurant  <img src="~/Images/Erreur.jpg" width="40" height="40" /> </h2>
                break;
            case 2:
                <h2 class="errorCode"> <img src="~/Images/Erreur.jpg" width="40" height="40" />  You need to choose a delivery time at least in 30 minutes  <img src="~/Images/Erreur.jpg" width="40" height="40" /> </h2>
                break;
        }

        <br />
        <body class="form_Info_Delivery">
            <form method="post">
                <p>You can choose the delivery time you want (only every 15 minutes and today)</p>
                <input type="time" name="deliveryTime" min="09:30" max="22:00" step="900" value="@DateTime.Now" required />
                <p>City <input type="text" name="city" value="" required> PostCode <input type="number" name="PostCode" value="" required> </p>
                <p>Address</p>
                <input type="text" name="DeliveryAddress" value="">

                <input type="submit" value="Confirmer" />
            </form>
        </body>
    }
    else
    {
        <h1 class="errorMessage">You have no product in your cart </h1>
    }
</body>

