@model DTO.Restaurant

@{
    ViewData["Title"] = "AccountInformationRestaurant";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<h2 class="mainButton">Account Information Restaurant</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRestaurant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRestaurant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLogin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLogin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRestaurantType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRestaurantType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="~/@Model.Picture" width="300" height="200" />
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="Restaurant" asp-action="MainPageRestaurant">Back to List</a>
</div>
