@using System.Diagnostics.Contracts
@model WebApplication.Models.AllProductWithCart; 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/product.css" />
</head>
<body>
    <header>
    </header>
    <tbody>
        <div class="grid_parent">

            @if (Model.myChart.Count > 0)
            {
                @if (Model.IdRestaurant != Model.myChart[0].IdRestaurant)
                {
                    <div class="ErroMessage">You cannot add product from different restaurant into the chart ! You need to first finished your order</div>
                }
            }
             

                @foreach (var item in Model.products)
                {

                    <div class="grid_parent">
                        <!-- Cover -->
                        <!-- Content -->
                        
                        <div restaurant>
                            @if (item.Disponibility)
                            {
                                <img src="@item.Picture" width="300" height="200" class="restaurantImage" />
                            }
                  
                            @if (item.Disponibility == false)
                            {
                                <img src="@item.Picture" width="300" height="200" class="ImageDisabled" />
                            }
                            <tr>
                                <td>

                                    <h2 class="titleProduct">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </h2>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Description)

                                    @if (item.Vegetarian)
                                    {
                                        <img src="~/Images/Products/vegetarian.png" height="30" width="30" />
                                    }

                                    @if (item.Disponibility == false)
                                    {
                                        <p class="ErroMessage">Currently unavailable</p>
                                    }
                                <p></p>

                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price) CHF
                            </td>
                            <td>
            </td>
           
                            <form method="post">
                                <input type="hidden" name="IdProduct" value=@Html.DisplayFor(modelItem => item.IdProduct) />
                                <input type="hidden" name="IdRestaurant" value=@Html.DisplayFor(modelItem => item.IdRestaurant) />
                                <input type="hidden" name="Price" value=@Html.DisplayFor(modelItem => item.Price) />
                                <input type="hidden" name="ProductName" value=@Html.DisplayFor(modelItem => item.ProductName) />
                                <input type="hidden" name="ProductImage" value=@Html.DisplayFor(modelItem => item.Picture) />
                                <input type="text" name="Quantity" value="1">

                                @if (Model.myChart.Count > 0)
                                {
                                    @if (item.IdRestaurant == Model.myChart[0].IdRestaurant && item.Disponibility)
                                    {
                                        <input type="submit" value="Add to chart" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Add to chart" class="Disabled" />
                                    }
                                }
                                else
                                {
                                    @if (item.Disponibility == false)
                                    {


                                        <input type="submit" value="Add to chart" class="Disabled" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Add to chart" />
                                    }

                                }

                            </form>
            </tr>
            </div>

            <!-- Button sticks to the bottom -->
            </div>
        }

            <div class="cd-cart">
                <h2>Chart</h2>
                @if (Model.myChart != null && Model.myChart.Count > 0)
                {
                    <ul class="cd-cart-items">
                      
                        @foreach (var itemDetails in Model.myChart)
                        {
                           
                        <li>
                            @Html.DisplayFor(modelItem => itemDetails.Quantity) x 
                            @Html.DisplayFor(modelItem => itemDetails.ProductName)

                            @Html.DisplayFor(modelItem => itemDetails.UnitPrice) CHF
                            <img src="@itemDetails.ProductImage" width="50" height="50" class="restaurantImage" />
                        </li>
                        }
                    </ul>

                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="ConfirmOrder">Confirmer commande</a>
                }
                else
                {
                    <p>Le panier est actuellement vide </p>
                }
            </div>

            </div>

        </tbody>

        <div>
            @if (Model.Comment.Count > 0)
            {
                @foreach (var comment in Model.Comment)
                {
                    @if (comment.Length > 0)
                    {
                    <p class="comment"> @comment </p>
                        }
                    }
            }

        </div>
        <div>
            @Html.ActionLink("Leave a review", "AddReview", "Review", new { idRestaurant = Model.IdRestaurant })
        </div>


    </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</html>