@model IEnumerable<DTO.Product>

@{
    ViewData["Title"] = "ShowAllProducts";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<h2 class="mainButton">All my products</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegetarian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) CHF
            </td>
            <td>
                <img src="@item.Picture" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
        </tr>
}
    </tbody>
</table>
